---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import FamousRecipes from '../components/FamousRecipes.astro';

---

<Layout title="Welcome to Astro.">
	<main class="container mx-auto">
		<Hero></Hero>
		<FamousRecipes>
		</FamousRecipes>
	</main>
</Layout>

<style>
</style>
