---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import {getRecipes} from '../services/recipes';
const recipes=await getRecipes("","3");
console.log(recipes)
---

<Layout title="Welcome to Astro.">
	<main>
		<Hero></Hero>
	</main>
</Layout>

<style>
</style>
